/* images*/

img {
  float: left;
  margin-left: 20px;
}

.me {
  margin-bottom: 3px;
}

/* about me*/

.aboutme1 {
  float: none;
  position: absolute;
  margin-left: 34em;
  font-family: times;
  font-weight: bold;
  font-size: 40px;
  padding: 10px;
  font-family: 'Leckerli One', cursive;

}

.aboutme2 {
  font-family: times;
  margin-left: 84em;
  padding-right: 10px;
  margin-top: 65px;
  position: absolute;
  background-color: beige;
  padding: 15px;
}

/* lists */

.list1 {
  list-style-type: none;
}

ul li {
  border: 2px solid black;
  padding: 15px 20px;
  margin: 5px 5px;
  margin-left: 10px;
  font-family: times;
}

/* headers */

.header1 {
/* margin-bottom: 20px; */
text-align: center;
/* border: 3px solid gray; */
/* font-size: 100px; */
background-color: beige;
font-family: times;
font-weight: bolder;
font-family: 'Leckerli One', cursive;
font-size: 100px;
}

.header2 {
  text-align: center;
  margin-bottom: 30px;
  margin-right: 256px;
  padding-top: 25px;
  font-size: 45px;
  font-style: italic;
  font-family: 'Leckerli One', cursive;
  background-color: darkred;
  color: white;
}

/* footer */
