body {
  background-color:
}

img {
  float: left;
  margin-left: 20px;
}

.me {
  margin-bottom: 3px;
}

.aa {
  float: none;
  position: absolute;
  margin-left: 43em;
  font-family: times;
  font-size: 32px;
}

.bb {
  margin-left: 85em;
  padding-right: 10px;
  margin-top: 50px;
  position: absolute;
}

.list1 {
  list-style-type: none;
}

ul li {
  border: 2px solid black;
  padding: 15px 20px;
  margin: 5px 5px;
  margin-left: 10px;

}

.header1 {
margin-bottom: 20px;
text-align: center;
border: 3px solid gray;
font-size: 100px;
background-color: beige;
font-family: times;
font-weight: bolder;
}

.header2 {
  text-align: center;
  margin-bottom: 30px;
  margin-right: 256px;
  padding-top: 25px;
  font-size: 45px;
  font-style: italic;
  font-family: times;
  background-color: darkred;
  color: white;
}

body {
  margin: 0
  paddding: 0;
  font-family: sans-serif;
}

#footer {
 font-family: times;
 font-size: 15px;
 background-color: darkred;
 color: white;
 padding-top: 15px;
 padding-bottom: 15px;
 padding-left: 15px;
}
