.container-fluid {
margin-bottom: 25px;
}

.list1 {
  list-style-type: none;
}

ul li {
  border: 2px solid black;
  padding: 15px 20px;
  margin: 5px 5px;
}

.header1 {
margin-left: 25px;
margin-bottom: 20px;
text-align: center;
border: 5px solid darkgray;
font-size: 100px;
background-color: beige;
}

.header2 {
margin-left: 40px;
}

.header3 {
  text-align: center;
  margin-bottom: 25px;
}
