.container {

}

img {
  float: left;
  margin-left: 25px;
  border: 4px solid darkgray;
}

.list1 {
  list-style-type: none;
}

ul li {
  border: 2px solid black;
  padding: 15px 20px;
  margin: 5px 5px;
}

.header1 {
margin-left: 25px;
margin-bottom: 20px;
text-align: center;
border: 5px solid darkgray;
font-size: 100px;
background-color: beige;
font-family: times;
font-weight: bolder;
}

.header2 {
  text-align: center;
  margin-bottom: 30px;
  margin-right: 300px;
  padding-top: 25px;
  font-size: 45px;
  font-style: italic;
  font-family: times;
  background-color: darkred;
  color: white;
  display:
}

body {
  margin: 0
  paddding: 0;
  font-family: sans-serif;
}

#footer {
 font-family: times;
 font-size: 15px;
 background-color: darkred;
 color: white;
 padding-top: 15px;
 padding-bottom: 15px;
 padding-left: 15px;
}
